<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{static_url('jquery/jquery.min.js')}}"></script>

    <script src="{{static_url('popper.js/umd/popper.min.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('bootstrap4/css/bootstrap.min.css')}}">
    <script src="{{static_url('bootstrap4/js/bootstrap.min.js')}}"></script>

    <link rel="stylesheet" href="{{static_url('fork-awesome/css/fork-awesome.css')}}">

    <script src="{{static_url('libjs-dropzone/dropzone.min.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('libjs-dropzone/dropzone.css')}}">

    <script type="text/javascript">
    (function() {
    "use strict";

    window.himblick = {};

    window.himblick.config = {
        socket: "{{ws_url}}",
        xsrf_token: "{{handler.xsrf_token}}",
    }

    })();
    </script>
    <script src="{{static_url('himblick/himblick.js')}}"></script>

    {% block head %}
    {% end %}

    <title>{{title}}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{reverse_url('main')}}">Himblick</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
        {% block nav %}
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarMonitor" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Monitor
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarMonitor">
             <a class="dropdown-item" href="{{reverse_url('status')}}">Status</a>
             <a class="dropdown-item" href="{{reverse_url('status_top_cpu')}}">CPU top</a>
             <a class="dropdown-item" href="{{reverse_url('status_top_mem')}}">MEM top</a>
           </div>
         </li>
        {% end %}
        </ul>
      </div>
      {% if is_admin %}
      <form class="form-inline my-2 my-lg-0" action="{{reverse_url('main')}}" method="POST">
        <input type="hidden" name="_xsrf" value="{{handler.xsrf_token}}">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
      </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0" action="{{reverse_url('main')}}" method="POST">
        <input type="hidden" name="_xsrf" value="{{handler.xsrf_token}}">
        <input class="form-control mr-sm-2" type="password" name="password" placeholder="Management password" aria-label="Management password">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
      </form>
      {% end %}
    </nav>

    {% block body %}
    {% end %}

    {% block footer %}
    <div class="card hidden-print mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <small><a href="https://github.com/himblick/himblick">himblick</a></small>
          </div>
          <div class="col-sm text-right">
            <small>{% raw format_timestamp(now) %}</small>
          </div>
      </div>
    </div>
    {% end %}
  </body>
</html>
