[Unit]
Description=Configure wifi based on /boot/wifi.ini
ConditionPathExists=/boot/wifi.ini
Before=dhcpcd.service
After=systemd-rfkill.service

[Service]
Type=oneshot
ExecStart=/usr/bin/himblick wifi-setup

[Install]
WantedBy=multi-user.target
